<mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10" [opened]="!isScreenSmall"
      [mode]="isScreenSmall ? 'over' : 'side'">
      <mat-toolbar color="primary">
        
      </mat-toolbar>
      <mat-list role="list">        
        <mat-list-item role="listitem">Card Demo</mat-list-item>
        <mat-list-item role="listitem">Add New</mat-list-item>
        <mat-list-item role="listitem">View All</mat-list-item>        
      </mat-list>
    </mat-sidenav>
  
    <div class="app-sidenav-content">
      <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
      <div class="wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  
  </mat-sidenav-container>